@model DataLayer.PageGroup

@{
    ViewBag.Title = "Delete";
}

<h4>آیا از حذف گروه @Model.GroupTitle مطمئن هستید؟</h4>
<div>
    <dl class="dl-horizontal">
    </dl>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" />
        </div>
    }
</div>
